.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

table{
	width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
 	border: 1px solid #ddd;     
}

.pcHand{
	position: relative;
	text-align: center;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.centered h2{
	color: red;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


.collapse .out{
	cursor: pointer;
}